{% load i18n %}
<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% trans "Study Buddys :: Take a quiz"%} | {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png'%}">
  <!-- Prevent the demo from appearing in search engines -->
  <meta name="robots" content="noindex">

  <!-- Simplebar -->
  <link type="text/css" href="{% static 'assets/vendor/simplebar.min.css'%}" rel="stylesheet">

  <!-- App CSS -->
  <link type="text/css" href="{% static 'assets/css/app.css'%}" rel="stylesheet">
  <link type="text/css" href="{% static 'assets/css/app.rtl.css'%}" rel="stylesheet">

  <!-- Material Design Icons -->
  <link type="text/css" href="{% static 'assets/css/vendor-material-icons.css'%}" rel="stylesheet">
  <link type="text/css" href="{% static 'assets/css/vendor-material-icons.rtl.css'%}" rel="stylesheet">

  <!-- Font Awesome FREE Icons -->
  <link type="text/css" href="{% static 'assets/css/vendor-fontawesome-free.css'%}" rel="stylesheet">
  <link type="text/css" href="{% static 'assets/css/vendor-fontawesome-free.rtl.css'%}" rel="stylesheet">

  <!-- ion Range Slider -->
  <link type="text/css" href="{% static 'assets/css/vendor-ion-rangeslider.css'%}" rel="stylesheet">
  <link type="text/css" href="{% static 'assets/css/vendor-ion-rangeslider.rtl.css'%}" rel="stylesheet">
</head>

<body class="layout-default">

  <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" data-fullbleed>
    <div class="mdk-drawer-layout__content">

      <!-- Header Layout -->
      <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

        <!-- Header -->

        <div id="header" class="mdk-header js-mdk-header m-0" data-fixed data-effects="waterfall" data-retarget-mouse-scroll="false">
          <div class="mdk-header__content">

            <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-primary pl-md-0 pr-0" id="navbar" data-primary>
              <div class="container-fluid page__container pr-0">

                <!-- Navbar toggler -->
                <button class="navbar-toggler navbar-toggler-custom d-lg-none d-flex mr-navbar" type="button" data-toggle="sidebar">
                  <span class="material-icons">short_text</span>
                </button>
                <form class="ml-auto search-form search-form--light d-none d-sm-flex flex" action="index.html">
                  <input type="text" class="form-control" placeholder="Search">
                  <button class="btn" type="submit"><i class="material-icons">search</i></button>
                </form>

                <div class="dropdown">
                  <a href="#" data-toggle="dropdown" data-caret="false" class="dropdown-toggle navbar-toggler navbar-toggler-dashboard border-left d-flex align-items-center ml-navbar">
                    <span class="material-icons">laptop</span> My Dashboard
                  </a>
                  <div id="company_menu" class="dropdown-menu dropdown-menu-right navbar-company-menu">
                    <div class="dropdown-item d-flex align-items-center py-2 navbar-company-info py-3">

                      <span class="mr-3">
                        <img src="assets/images/frontted-logo-blue.svg" width="43" height="43" alt="avatar">
                      </span>
                      <span class="flex d-flex flex-column">
                        <strong class="h5 m-0">Adrian D.</strong>
                        <small class="text-muted text-uppercase">STUDENT</small>
                      </span>

                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item d-flex align-items-center py-2" href="edit-account.html">
                      <span class="material-icons mr-2">account_circle</span> Edit Account
                    </a>
                    <a class="dropdown-item d-flex align-items-center py-2" href="#">
                      <span class="material-icons mr-2">settings</span> Settings
                    </a>
                    <a class="dropdown-item d-flex align-items-center py-2" href="login.html">
                      <span class="material-icons mr-2">exit_to_app</span> Logout
                    </a>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">
          {% block content %}

          {% endblock %}
        </div>
        <!-- // END header-layout__content -->

      </div>
      <!-- // END header-layout -->

    </div>
    <!-- // END drawer-layout__content -->

    <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
      <div class="mdk-drawer__content">
        <div class="sidebar sidebar-dark sidebar-left simplebar bg-dark-gray" data-simplebar>

          <div class="d-flex align-items-center sidebar-p-a sidebar-account flex-shrink-0">
            <a href="index.html" class="flex d-flex align-items-center text-underline-0">
              <span class="mr-3">
                <!-- LOGO -->
                <img src="{% static 'assets/images/logo.png'%}" alt="">
              </span>
            </a>
          </div>


          <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" href="index.html">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">photo_filter</i>
                <span class="sidebar-menu-text">Overview</span>
              </a>
            </li>
          </ul>

          <div class="sidebar-heading">Student</div>

          <div class="sidebar-block p-0">
            <ul class="sidebar-menu mt-0">
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="student-dashboard.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">star_half</i>
                  <span class="sidebar-menu-text">Dashboard</span>
                </a>
              </li>
              <li class="sidebar-menu-item active">
                <a class="sidebar-menu-button" href="student-courses.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">queue_play_next</i>
                  <span class="sidebar-menu-text">Courses</span>
                </a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="student-course-purchase.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">shopping_cart</i>
                  <span class="sidebar-menu-text">Purchase Course</span>
                </a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="student-lessons.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dns</i>
                  <span class="sidebar-menu-text">Browse Lessons</span>
                </a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="student-quiz.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">live_help</i>
                  <span class="sidebar-menu-text">Take Quiz</span>
                </a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="student-discussions.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">forum</i>
                  <span class="sidebar-menu-text">Discussions</span>
                </a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="edit-account.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">settings</i>
                  <span class="sidebar-menu-text">Edit Account</span>
                </a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="student-billing.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">monetization_on</i>
                  <span class="sidebar-menu-text">Billing</span>
                </a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="login.html">
                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">exit_to_app</i>
                  <span class="sidebar-menu-text">Logout</span>
                </a>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- // END drawer-layout -->

  <div class="mdk-drawer js-mdk-drawer" id="events-drawer" data-align="end">
    <div class="mdk-drawer__content">
      <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>




        <small class="text-dark-gray px-3 py-1">
          <strong>Thursday, 28 Feb</strong>
        </small>

        <div class="list-group list-group-flush">

          <div class="list-group-item bg-light">
            <div class="row">
              <div class="col-auto d-flex flex-column">
                <small>12:30 PM</small>
                <small class="text-dark-gray">2 hrs</small>
              </div>
              <div class="col">
                <div class="d-flex flex-column flex">
                  <a href="#" class="text-body"><strong class="text-15pt">Marketing Team Meeting</strong></a>

                  <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">location_on</i> 16845 Hicks Road</small>


                </div>
                <div class="avatar-group mt-2">

                  <div class="avatar avatar-xs">
                    <img src="assets/images/256_joao-silas-636453-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                  </div>

                  <div class="avatar avatar-xs">
                    <img src="assets/images/256_jeremy-banks-798787-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                  </div>

                  <div class="avatar avatar-xs">
                    <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <small class="text-dark-gray px-3 py-1">
          <strong>Wednesday, 27 Feb</strong>
        </small>

        <div class="list-group list-group-flush">

          <div class="list-group-item bg-light">
            <div class="row">
              <div class="col-auto d-flex flex-column">
                <small>07:48 PM</small>
                <small class="text-dark-gray">30 min</small>
              </div>
              <div class="col">
                <div class="d-flex flex-column flex">
                  <a href="#" class="text-body"><strong class="text-15pt">Call Alex</strong></a>


                  <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">phone</i> 202-555-0131</small>

                </div>



              </div>
            </div>
          </div>

        </div>

        <small class="text-dark-gray px-3 py-1">
          <strong>Tuesday, 26 Feb</strong>
        </small>

        <div class="list-group list-group-flush">

          <div class="list-group-item bg-light">
            <div class="row">
              <div class="col-auto d-flex flex-column">
                <small>03:13 PM</small>
                <small class="text-dark-gray">2 hrs</small>
              </div>
              <div class="col">
                <div class="d-flex flex-column flex">
                  <a href="#" class="text-body"><strong class="text-15pt">Design Team Meeting</strong></a>

                  <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">location_on</i> 16845 Hicks Road</small>


                </div>
                <div class="avatar-group mt-2">

                  <div class="avatar avatar-xs">
                    <img src="assets/images/256_rsz_1andy-lee-642320-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                  </div>

                  <div class="avatar avatar-xs">
                    <img src="assets/images/256_michael-dam-258165-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                  </div>

                  <div class="avatar avatar-xs">
                    <img src="assets/images/256_luke-porter-261779-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                  </div>

                  <div class="avatar avatar-xs">
                    <img src="assets/images/stories/256_rsz_clem-onojeghuo-193397-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <small class="text-dark-gray px-3 py-1">
          <strong>Monday, 25 Feb</strong>
        </small>

        <div class="list-group list-group-flush">

          <div class="list-group-item bg-light">
            <div class="row">
              <div class="col-auto d-flex flex-column">
                <small>12:30 PM</small>
                <small class="text-dark-gray">2 hrs</small>
              </div>
              <div class="col d-flex">
                <div class="d-flex flex-column flex">
                  <a href="#" class="text-body"><strong class="text-15pt">Call Wendy</strong></a>


                  <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">phone</i> 202-555-0131</small>

                </div>


                <div class="avatar avatar-xs">
                  <img src="assets/images/256_michael-dam-258165-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- App Settings FAB -->
  <div id="app-settings">
    <app-settings></app-settings>
  </div>


  <script src="{% static 'assets/vendor/jquery.min.js'%}"></script>

  <!-- Bootstrap -->
  <script src="{% static 'assets/vendor/popper.min.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap.min.js'%}"></script>

  <!-- Simplebar -->
  <script src="{% static 'assets/vendor/simplebar.min.js'%}"></script>

  <!-- DOM Factory -->
  <script src="{% static 'assets/vendor/dom-factory.js'%}"></script>

  <!-- MDK -->
  <script src="{% static 'assets/vendor/material-design-kit.js'%}"></script>

  <!-- Range Slider -->
  <script src="{% static 'assets/vendor/ion.rangeSlider.min.js'%}"></script>
  <script src="{% static 'assets/js/ion-rangeslider.js'%}"></script>

  <!-- App -->
  <script src="{% static 'assets/js/toggle-check-all.js'%}"></script>
  <script src="{% static 'assets/js/check-selected-row.js'%}"></script>
  <script src="{% static 'assets/js/dropdown.js'%}"></script>
  <script src="{% static 'assets/js/sidebar-mini.js'%}"></script>
  <script src="{% static 'assets/js/app.js'%}"></script>

</body>

</html>
